section#ourprice
	.container
		.column
			h3.s-title Our price
			p.p-text At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium
			.cards
				.b-card
					
					.b-card__title
						h4 Premium
					.b-card__body
						h4
							span.sp-accent $60
						h4 Per Month
				.b-card
					.b-card__body
						ul.p-text
							li Full Branding
							li Project Management 
							li Unlimited Revisions
							li 24/7 h Service
							li Free Domain
							li Free Hosting
					.b-card__title
						a(href="#")
							h4 Let start
								span.pe-7s-angle-right
				.b-card
					.b-card__title
						h4 Personal
					.b-card__body
						h4
							span.sp-accent $80
						h5 Per Month
