section#subscribeus
    .container
        .column
            h3.s-title Subscribe us
            p.p-text At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium
            form(action="", method="post")
                input(type="Email", placeholder="Email Address")
                button(type="submit") Submit