footer#footer
    .column
        h2.logo Bouncy
        p.p-text Copyright 2018 All right reserved
        .social
            a.social-link(href="#")
                img(src="img/001-facebook-logo.png", alt="facebook")                
            a.social-link(href="#")
                img(src="img/002-twitter-logo.png", alt="twiter")
            a.social-link(href="#")
                img(src="img/003-linkedin-sign.png", alt="linkedin")
            a.social-link(href="#")
                img(src="img/004-pinterest.png", alt="pinterest")
            a.social-link(href="#")
                img(src="img/005-google.png", alt="google")