nav#navbar
    .container
        .row.spacebeetwen
            a(href="#")
                span.logo Bouncy
            ul.menu
                li
                    a.menu-link(href="#header") Hello
                li
                    a.menu-link(href="#about") About
                li
                    a.menu-link(href="#services") Services
                li
                    a.menu-link(href="#portfolio") Portfolio
                li
                    a.menu-link(href="#team") Team
                li
                    a.menu-link(href="#latestnews") Blog
                li
                    a.menu-link(href="#contactus") Contact
    .menu-btn__container
        a.menu-btn
            span  

            