header#header
    .container
        .column.center
            h1.m-title.slideInRight.animated We Are Code Cafe
            p.p-text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditii <br> praesentium voluptatum
            a.circle(href="#about", title="Arrow")
                span.icon.pe-7s-angle-down