section#details
    .container
        .column
            h3.s-title  Details about bouncy
            p.p-text At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium
            //Control for change info slide
            .b-slider#slider1
                .b-slider__dots
                    span.b-slider__dot.b-slider__dot--active
                        i.icon.pe-7s-like
                    span.b-slider__dot
                        i.icon.pe-7s-mouse
                    span.b-slider__dot
                        i.icon.pe-7s-light
                .b-slider__slides
                    .b-slider__slide.b-slider__slide--show.fade
                        h4.p-title Fill you Ideas
                        .row
                            p.left.p-blockquote
                                | At 
                                span.sp-accent ipsum dolor  
                                | eos et accusamus et iusto odio dignissimos <strong>ducimus</strong> qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores 
                            p.right.p-text
                                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <strong>corrupti quos</strong> dolores et quas molestias 
                                span.sp-accent excepturi 
                                | sint occaecati cupiditate non provident, <strong>similique</strong> sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidstrong
                    .b-slider__slide.fade
                        h4.p-title Develop you dream
                        .row
                            p.left.p-blockquote
                                | At 
                                span.sp-accent vero 
                                | eos et accusamus et iusto odio dignissimos <strong>ducimus</strong> qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores 
                            p.right.p-text
                                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <strong>corrupti quos</strong> dolores et quas molestias 
                                span.sp-accent excepturi 
                                | sint occaecati cupiditate non provident, <strong>similique</strong> sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidstrong
                    .b-slider__slide.fade
                        h4.p-title Flash you mind
                        .row
                            p.left.p-blockquote
                                | At 
                                span.sp-accent vero 
                                | eos et accusamus et iusto odio dignissimos <strong>ducimus</strong> qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores 
                            p.right.p-text
                                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <strong>corrupti quos</strong> dolores et quas molestias 
                                span.sp-accent excepturi 
                                | sint occaecati cupiditate non provident, <strong>similique</strong> sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidstrong