section#featured
    .container
        .column.center
            h3.s-title Featured projects
            p.p-text At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium
    .row
        .b-accordeon
            .b-accordeon__item
                .b-cover
                    h3.b-cover__header Beautiful moleskin for personal daires
                    p.b-cover__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit temporibus ducimus velit ab dicta sunt?             
                img.b-accordeon__item__img(src="img/slider1.jpg", alt="featured works")
            .b-accordeon__item
                .b-cover
                    h3.b-cover__header Lorem ipsum dolor sit.
                    p.b-cover__text Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                img.b-accordeon__item__img(src="img/slider2.jpg", alt="featured works")
            .b-accordeon__item
                .b-cover
                    h3.b-cover__header Personal daires
                    p.b-cover__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit temporibus ducimus velit ab dicta sunt?        
                img.b-accordeon__item__img(src="img/slider3.jpg", alt="featured works")
            .b-accordeon__item
                .b-cover
                    h3.b-cover__header Lorem ipsum dolor sit amet consectetur.
                    p.b-cover__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit temporibus ducimus velit ab dicta sunt?        
                img.b-accordeon__item__img(src="img/slider4.jpg", alt="featured works")
            
    .row.foot
        .container
            .row.center
                h4.p-title At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
                a.default-btn(href="#contactus") Submit now