section#services
    .container
        .column
            h3.s-title.proc Our services
            p.p-text At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium
            #slider2.b-slider.b-slider--row
                .b-slider__dots.b-slider__dots--column
                    span.b-slider__dot.b-slider__dot--active
                        i.icon.pe-7s-tools
                    span.b-slider__dot
                        i.icon.pe-7s-paint
                    span.b-slider__dot
                        i.icon.pe-7s-joy
                    span.b-slider__dot
                        i.icon.pe-7s-tools
                .b-slider__slides.b-slider__slides--row
                    .b-slider__slide.b-slider__slide--row.b-slider__slide--row--show.fade
                        .column 
                            h4.p-title Develop design
                            p.p-text.top 
                                | At vero eos et accusamus et  
                                span.main-color iusto 
                                | odio dignissimos <strong>ducimus</strong> qui blanditiis praesentium voluptatum deleniti
                            p.p-text.bottom 
                                | quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, 
                                span.main-color similique sunt
                                | in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
                        .row
                            .b-roundprog
                                canvas.b-roundprog__canvas(data-value="85")
                                h4.p-title Branding
                            .b-roundprog
                                canvas.b-roundprog__canvas(data-value="75")
                                h4.p-title Web Design
                            .b-roundprog
                                canvas.b-roundprog__canvas(data-value="60")
                                h4.p-title UI / UX
                    .b-slider__slide.b-slider__slide--row.fade
                        .column 
                            h4.p-title Graphic design
                            p.p-text.top 
                                | At vero eos et accusamus et  
                                span.main-color iusto 
                                | odio dignissimos <strong>ducimus</strong> qui blanditiis praesentium voluptatum deleniti
                            p.p-text.bottom 
                                | quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, 
                                span.main-color similique sunt
                                | in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
                        .row
                            .b-roundprog
                                canvas.b-roundprog__canvas(data-value="95")
                                h4.p-title Branding
                            .b-roundprog
                                canvas.b-roundprog__canvas(data-value="80")
                                h4.p-title Web Design
                            .b-roundprog
                                canvas.b-roundprog__canvas(data-value="70")
                                h4.p-title UI / UX
                    .b-slider__slide.b-slider__slide--row.fade
                        .column 
                            h4.p-title Games and media
                            p.p-text.top 
                                | At vero eos et accusamus et  
                                span.main-color iusto 
                                | odio dignissimos <strong>ducimus</strong> qui blanditiis praesentium voluptatum deleniti
                            p.p-text.bottom 
                                | quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, 
                                span.main-color similique sunt
                                | in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
                        .row
                            .b-roundprog
                                canvas.b-roundprog__canvas(data-value="70")
                                h4.p-title Branding
                            .b-roundprog
                                canvas.b-roundprog__canvas(data-value="70")
                                h4.p-title Web Design
                            .b-roundprog
                                canvas.b-roundprog__canvas(data-value="70")
                                h4.p-title UI / UX
                    .b-slider__slide.b-slider__slide--row.fade
                        .column 
                            h4.p-title Plugged to you works
                            p.p-text.top 
                                | At vero eos et accusamus et  
                                span.main-color iusto 
                                | odio dignissimos <strong>ducimus</strong> qui blanditiis praesentium voluptatum deleniti
                            p.p-text.bottom 
                                | quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, 
                                span.main-color similique sunt
                                | in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
                        .row
                            .b-roundprog
                                canvas.b-roundprog__canvas(data-value="70")
                                h4.p-title Branding
                            .b-roundprog
                                canvas.b-roundprog__canvas(data-value="70")
                                h4.p-title Web Design
                            .b-roundprog
                                canvas.b-roundprog__canvas(data-value="70")
                                h4.p-title UI / UX
    .row
        .container
            .row
                .column
                    h3.s-title Impressed ?
                    p.p-blockquote At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                    p.p-text.name    Abdullah Noman
                    p.p-text.post 
                        | Creative director, 
                        span.main-color Code cafe
                img.mac(src="img/imac_bouncy.png"  alt="imac picture")