section#portfolio
    .container
        .column
            h3.s-title The portfolio
            p.p-text At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium
            .b-gallery    
                .b-gallery__toggles
                    button#allworks.b-gallery__btn
                        h4.p-title All works
                    button#print.b-gallery__btn
                        h4.p-title Print
                    button#identity.b-gallery__btn
                        h4.p-title Identity
                    button#branding.b-gallery__btn
                        h4.p-title Branding
                    button#web.b-gallery__btn
                        h4.p-title Web
                    button#html.b-gallery__btn
                        h4.p-title HTML
                    button#wordpress.b-gallery__btn
                        h4.p-title Wordpress
                .b-gallery__grid
                    .b-gallery__grid-wrap                  
                        .b-gallery__item(data-category="print")
                            .b-gallery__item-wrap
                                .b-cover--hidden
                                    .b-cover__header Text
                                img.b-gallery__img(src="img/portfolio_1_1.png", alt="portfolio image")
                        .b-gallery__item(data-category="Identity")
                            .b-gallery__item-wrap
                                .b-cover--hidden
                                    .b-cover__header Text
                                img.b-gallery__img(src="img/portfolio_1_2.png", alt="portfolio image")
                        .b-gallery__item(data-category="print")
                            .b-gallery__item-wrap
                                .b-cover--hidden
                                    .b-cover__header Text
                                img.b-gallery__img(src="img/portfolio_1_3.png", alt="portfolio image")
                        .b-gallery__item(data-category="branding")
                            .b-gallery__item-wrap
                                .b-cover--hidden
                                    .b-cover__header Text
                                img.b-gallery__img(src="img/portfolio_1_4.png", alt="portfolio image")
                        .b-gallery__item(data-category="web")
                            .b-gallery__item-wrap
                                .b-cover--hidden
                                    .b-cover__header Text
                                img.b-gallery__img(src="img/portfolio_2_1.png", alt="portfolio image")
                        .b-gallery__item(data-category="wordpress")
                            .b-gallery__item-wrap
                                .b-cover--hidden
                                    .b-cover__header Text
                                img.b-gallery__img(src="img/portfolio_2_3.png", alt="portfolio image")
                        .b-gallery__item(data-category="identity")
                            .b-gallery__item-wrap
                                .b-cover--hidden
                                    .b-cover__header Text
                                img.b-gallery__img(src="img/portfolio_2_2.png", alt="portfolio image")
                        .b-gallery__item(data-category="html")
                            .b-gallery__item-wrap
                                .b-cover--hidden
                                    .b-cover__header Text
                                img.b-gallery__img(src="img/portfolio_2_4.png", alt="portfolio image")
                        .b-gallery__item(data-category="identity")
                            .b-gallery__item-wrap
                                .b-cover--hidden
                                    .b-cover__header Text
                                img.b-gallery__img(src="img/portfolio_3_2.png", alt="portfolio image")                
                        .b-gallery__item(data-category="wordpress")
                            .b-gallery__item-wrap
                                .b-cover--hidden
                                    .b-cover__header Text
                                img.b-gallery__img(src="img/portfolio_3_4.png", alt="portfolio image")
                        .b-gallery__item(data-category="branding")
                            .b-gallery__item-wrap
                                .b-cover--hidden
                                    .b-cover__header Text
                                img.b-gallery__img(src="img/portfolio_3_3.png", alt="portfolio image")                
                        .b-gallery__item(data-category="html")
                            .b-gallery__item-wrap
                                .b-cover--hidden
                                    .b-cover__header Text
                                img.b-gallery__img(src="img/portfolio_3_1.png", alt="portfolio image")                
            
            .column
                h4.p-title At vero eos et <strong>accusamus</strong> et iusto odio <strong>dignissimos</strong> ducimus qui blanditiis 
                a.default-btn Start Project
                
                