section#team
    .container
        .column
            h3.s-title The Team
            p.p-text At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium
            #slider3.b-slider
                .b-slider__slides
                    .b-slider__slide.b-slider__slide--show
                        .row
                            .img-wrapper
                                .b-cover--hidden
                                    .b-cover__header
                                        h3.p-title Add to social
                                img(src="img/team_photo1.png", alt="team photo", srcset="img/team_photo1.png")
                            .column
                                h4.p-title Abdullah Noman
                                h4.p-title.i Creative director, Code Cafe
                                p.p-text At vero eos et accusamus et iusto odio dignissimos <br> ducimus qui blanditiis praesentium
                                .b-progressline
                                    .b-progressline__wrapper
                                        canvas.b-progressline__bar(data-value="90", data-name="Branding")
                                    .b-progressline__wrapper
                                        canvas.b-progressline__bar(data-value="80", data-name="Web design")
                                    .b-progressline__wrapper
                                        canvas.b-progressline__bar(data-value="70", data-name="User interface")
                                    .b-progressline__wrapper
                                        canvas.b-progressline__bar(data-value="60", data-name="Page making")
                    .b-slider__slide
                        .row
                            .img-wrapper
                                .b-cover--hidden
                                    .b-cover__header
                                        h3.p-title Add to social
                                img(src="img/team_photo1.png", alt="team photo", srcset="img/team_photo1.png")
                            .column
                                h4.p-title Jakobar Nurbal
                                h4.p-title.i Best Creative director, Code Cafe
                                p.p-text At vero eos et accusamus et iusto odio dignissimos <br> ducimus qui blanditiis praesentium
                                .b-progressline
                                    .b-progressline__wrapper
                                        canvas.b-progressline__bar(data-value="0", data-name="Branding")
                                    .b-progressline__wrapper
                                        canvas.b-progressline__bar(data-value="0", data-name="Web design")
                                    .b-progressline__wrapper
                                        canvas.b-progressline__bar(data-value="0", data-name="User interface")
                                    .b-progressline__wrapper
                                        canvas.b-progressline__bar(data-value="5", data-name="Page making")
                    .b-slider__slide
                        .row
                            .img-wrapper
                                .b-cover--hidden
                                    .b-cover__header
                                        h3.p-title Add to social
                                img(src="img/team_photo1.png", alt="team photo", srcset="img/team_photo1.png")
                            .column
                                h4.p-title Karla Todesky
                                h4.p-title.i Main Creative director, Code Cafe
                                p.p-text At vero eos et accusamus et iusto odio dignissimos <br> ducimus qui blanditiis praesentium
                                .b-progressline
                                    .b-progressline__wrapper
                                        canvas.b-progressline__bar(data-value="90", data-name="Branding")
                                    .b-progressline__wrapper
                                        canvas.b-progressline__bar(data-value="80", data-name="Web design")
                                    .b-progressline__wrapper
                                        canvas.b-progressline__bar(data-value="70", data-name="User interface")
                                    .b-progressline__wrapper
                                        canvas.b-progressline__bar(data-value="60", data-name="Page making")
                                    
                    

                .b-slider__dots
                    span.b-slider__dot.b-slider__dot--active
                    span.b-slider__dot
                    span.b-slider__dot
    .column
        h4.p-title Already <strong>loved us?</strong> 
        a.default-btn(href="#contactus") Contact Us
                        
