section#testimonials
	.container
		.column
			h3.s-title Testimonials
			p.p-text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium

			#slider4.b-slider
				.b-slider__slides
					.b-slider__slide.b-slider__slide--show
						.row
							img.round-border(src="img/testimonials_photo1.png", alt="testimonials photo", srcset="img/testimonials_photo1.png")
							.column
								p.p-blockquote At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.

								h4.p-title Partho
								p.p-text.i FOUNDER, ARTWAYS BD
					.b-slider__slide
						.row
							img.round-border(src="img/testimonials_photo1.png", alt="testimonials photo", srcset="img/testimonials_photo1.png")
							.column
								p.p-blockquote At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.

								h4.p-title Maxon
								p.p-text.i FOUNDER, ARTWAYS BD
					.b-slider__slide
						.row
							img.round-border(src="img/testimonials_photo1.png", alt="testimonials photo", srcset="img/testimonials_photo1.png")
							.column
								p.p-blockquote At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.

								h4.p-title Grgorio Guido
								p.p-text.i FOUNDER, ARTWAYS BD


				.b-slider__dots
					span.b-slider__dot.b-slider__dot--active
					span.b-slider__dot
					span.b-slider__dot