/*---------------------------------------*\
            #Site
\*---------------------------------------*/

// ------------ Вспомогательные классы и переменные
// Основные переменные для сайта
@import "./partials/_h_variables.styl"

// Основные стили для разметки
@import "./partials/_h_layout.styl"

// Стили для контроллов
@import "./partials/_h_controls.styl"

// Стили для типографики
@import "./partials/_h_typography.styl"

// Определение основных стилей для body и сброс браузерных стилей
@import "./partials/_h_main.styl"


// ----------- Стили секций
// Стили для секции навигации
@import "./partials/_s1_navbar.styl"

// Стили для секции шапки сайта
@import "./partials/_s2_header.styl"

// Стили для секции о студии
@import "./partials/_s3_about.styl"

// Стили секции с подробностями о студии
@import "./partials/_s4_details.styl"

// Стили для секции с особенностями
@import "./partials/_s5_featured.styl"

// Стили для секции с описниями услуг
@import "./partials/_s6_services.styl"

// Стили для секции с портфолио студии
@import "./partials/_s7_portfolio.styl"

// Стили секции с описанием команды
@import "./partials/_s8_team.styl"

// Стили секции с карточками отзывов
@import "./partials/_s9_testimonials.styl"

// Стиль секции с последними новостями
@import "./partials/_s10_latestnews.styl"

// Стиль секции с последними новостями
@import "./partials/_s11_ourprice.styl"

// Стиль секции для подписки
@import "./partials/_s12_subscribeus.styl"

// Стиль для секции с контактами
@import "./partials/_s13_contactus.styl"

// Стиль для секции с контактами
@import "./partials/_s14_footer.styl"


// ------------ Адаптивность
// Определение стилей для реализации адаптивности
@import "./partials/_media.styl"
