/*---------------------------------------*\
            #TYPOGRAPHY
\*---------------------------------------*/

// Основные стили для текста сайта
.logo // Основной шрифт для логотипа
    font-size 25px
    font-family logoFont
    font-weight 900
    text-transform: uppercase
    color lightC
    font-stretch condensed
    
.m-title // Главный заголовок страницы
    font-size: 35px
    font-family mainFont
    font-weight lighter
    letter-spacing: .16em
    text-transform uppercase

.s-title // Текст заголовка секции
    font-family: mainFont
    font-size: 1.3em
    font-weight lighter
    text-transform: uppercase
    letter-spacing: .15em
    color: grayDarkC
 
.p-title // Заголовок параграфа
    font-family: mainFont
    font-size: 1.25em
    font-weight lighter
    text-transform: capitalize
    letter-spacing: .05em
    color: grayC

.p-text // Стиль для параграфа
    font-family secondFont 
    font-size: .875em
    font-weight 400
    letter-spacing: .03em
    line-height: 1.73em

.p-blockquote
    font-family secondFont 
    font-weight 400
    font-size: 16px
    letter-spacing: .05em    
    line-height: 1.73em


// Стили для элементов

.sp-accent // Акцент для span 
    color mainC
    font-weight bold

strong 
    color grayAccentC
