section#subscribeus
    background-image url("../img/subscribe_bg.png")
    background-repeat no-repeat
    background-size cover
    .container
        h3
            margin-top 50px
            color lightC
        p
            margin-top 30px
        form
            margin-top 50px
            margin-bottom 50px
            display flex
            align-items center
            input 
                background transparent
                font-size 25px
                text-align center
                border 2px solid grayC
                margin-right 10px
                color lightC
                //height 30px
            button 
                height 34px
                cursor pointer
                padding 2px 25px
                background mainC
                color lightC
                border 1px solid transparent
                transition all .5s ease

                &:hover
                    border 1px solid lightC
                    box-shadow 0px 0px 2px 2px lightC
