footer#footer
    background bgC
    .column
        h2.logo
            margin-top 50px
            font-weight bold
            color grayDarkC
        .social
            .social-link
                display inline-block
                color grayC 
                font-size 25px
                margin 5px
                img
                    width 30px
                    height 30px