/*---------------------------------------*\
            #ABOUT
\*---------------------------------------*/

section#about

    .container

        .row
            
            .about
                text-align: left
                margin-left 16%
                margin-top 85px
                margin-bottom 100px
                color: secondColor
                width 500px
                
                p
                    margin-top 35px
                    margin-bottom 34px

                a.default-btn
                    margin-top 50px
                    font-size: 1rem
                    text-decoration: none
                    
            img
                margin-top 0px
                margin-right 12%
                margin-left 100px
                width 220px
                height 335px
