section#details
    background-color #f3f3f3    
    .container
        .column
            text-align center
            h3
                margin-top 80px
            p
                margin-top 45px
            #slider1.b-slider
                margin-bottom 60px
                .b-slider__dots
                    margin-top 30px   
                    .b-slider__dot
                        margin 0px 13px 0px
                    
                        .pe-7s-like
                            font-size 28px
                            color lightC

                        .pe-7s-mouse
                            font-size 28px
                            color lightC
                            
                        .pe-7s-light
                            font-size 28px
                            color lightC
                .b-slider__slides
                    .b-slider__slide
                        margin 30px 0
                        padding 0 70px
                        .row
                            align-items flex-start
                            .left
                                width 30%
                                margin 0 5% 0 0
                            .right
                                width 60%
                                margin 0 0 0 5%            
.fade                            
    -webkit-animation-name: fade
    -webkit-animation-duration: 1.5s
    animation-name: fade
    animation-duration: 1.5s
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

                    
                