section#services
    background-color #f3f3f3
    .container
        .column
            text-align center
            h3
               margin-top 75px 
            p
                margin-top 10px
            #slider2.b-slider--row
                margin-top 50px
                padding 40px 50px
                align-items flex-start
                .b-slider__dots--column
                    margin-left 30px
                    width 50px;
                    .b-slider__dot
                        margin 0px 0px 12px
                        text-align center
                        display flex
                        transition: all .3s ease-in-out
                        justify-content center
                        align-items center
                        text-decoration: none
                        .icon
                            color lightC
                            font-size 28px
                .b-slider__slides.b-slider__slides--row
                    .b-slider__slide.b-slider__slide--row
                        .column
                            width 500px
                            margin-left 30px
                            text-align: left
                            align-items: baseline

                            h4
                                margin-top 0
                                font-weight 500
                            p.top
                                font-size: 16px
                                letter-spacing: .05em
                        .row
                            align-items flex-start
                            margin-left 70px
                            margin-bottom 0px
                            background-image none
                            .b-roundprog
                                margin 0 auto
                                width 124px
                                position relative
                                align-items: center
                                .b-roundprog__canvas
                                    width 124px;
                                    height 124px;
                                h4
                                    margin-top 40px
    .row
        width 100%
        background-image url('../img/services_footer_bg.png')
        background-repeat no-repeat
        background-size cover
        min-height: 280px
        .container
            .row
                background-image none
                position relative
                .column
                    align-items: baseline
                    text-align left
                    width 50%
                    h3
                        margin-top 80px
                        color lightC
                    p
                        margin-top 56px
                        color grayC
                    .name
                        margin-top 10px
                        text-transform uppercase
                        font-weight bold
                    .post
                        margin-top 0
                        text-transform uppercase
                        margin-bottom 100px
                        .main-color
                            font-weight normal
                .mac
                    position absolute
                    top -130px
                    right 0px