section#portfolio
    background-color bgC
    .container
        .column
            background-image none
            h3
                margin-top 75px
            p
                margin-top 40px
            
            .b-gallery
                margin-top 30px
                width 100%
                .b-gallery__toggles
                    display block
                    width 100%
                    button.b-gallery__toggles-btn
                        padding 5px
                .b-gallery__grid
                    margin 0 auto
                    padding 0px
                    .b-gallery__grid-wrap
                        margin 0 auto  
                        .b-gallery__item
                            width 23%
                            min-width 270px
                            margin 5px
                
            .column
                margin-top 35px
                width 100%
                background-image url("../img/portfolio_footer.png")
                color: #ffffff
                justify-content: center
                min-height: 200px
                margin-bottom: 70px
                
                h4
                    margin-top 30px
                    color lightC
                    strong 
                        color lightC
                
                a.default-btn
                    margin-top 20px
                    color lightC
                    border-color: #ffffff
                